* {
    border: 2px solid #E6534E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
}

.content1 {
    display: flex;
}

.smiski-wallpaper {
    width: 300px;
}

.info-img {
    width: 100px;
    height: 100px;
}

h2 {
    display: flex;
    justify-content: center;
}

.info-boxes {
    display: flex;
}

.author {
    display: flex;
    justify-content: end;
    margin-left: auto;
}

.content4 {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
}
